{% block content %}
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #239F57">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">HealthierMe</a>
        {% if loggedIn %}
        <a href="/recipes/mine" class="nav-link text-light">Hello {{ username }} </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if loggedIn %}
                <!-- <a href="/recipes" class="nav-link text-light">View All</a> -->
                <form id="form" class="search-form flex-container
                align-middle" action="/recipes">
                    <div class="input-group">
                        <input type="text" id="q" class="form-control rounded" 
                        name="q" placeholder="search recipe here ..." aria-label="Search" aria-describedby="search-addon" />

                        <input type="submit"  
                        class="btn btn-outline-primary" id="search_btn" value="Search" />
                    </div>
                 </form>
                <!-- <a href="/recipes/new" class="nav-link text-light">New</a> -->
                <a href="/recipes/mine" class="nav-link text-light">My recipes</a>
                <a href="/auth/logout" class="nav-link text-light">Log Out</a>
            {% else %}
                <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
                <a href="/auth/login" class="nav-link text-light">Sign In</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}