{% layout 'layout.liquid' %}
{% block content %}

<div class="container-lg">       
    <div class="recipe_list_container">
        <div class="recipe_show_container">
        <img class="recipe_image" src="{{recipe.image}}" alt="">          
            <div class="recipe_name">{{recipe.label}}</div>
            <div class="recipe-ingredients">
                <h5>Ingredients</h5>
                <ul>
                {% for line in recipe.ingredientLines %}
                    {% if line != "" %}
                    <li>{{line}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                <p>Makes {{recipe.yield}} servings</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}