{% layout 'layout.liquid' %}
{% block content %}

<div class="recipe_list_container">
    <h1 class="text-center text-uppercase"></h1>
    <br>
    <br>
    <div class="recipe_container">
        <img class="recipe_image" src="https://i.imgur.com/eFWRUuR.jpg" alt="">
        <a href="#!"><i class="far fa-heart"></i></a>
        <div class="recipe_name">Name</div>
        <div class="recipe_info">
            <div class="recipe_type">
                <b>Comments</b>
            </div>
            <div class="recipe_type">
                Adding
            </div>
        </div>
        <div class="recipe_info">
            Title
        </div>
    </div>
</div>
        

{% endblock %}